<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ias.calculationwaterdebit">

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity
            android:name=".ui.BottomMainActivity" />
        <activity android:name=".ui.AboutActivity" />
        <activity android:name=".ui.AmbangTajamSegiempatActivity" />
        <activity android:name=".ui.CrumpActivity" />
        <activity android:name=".ui.CutThroatedFlumeActivity" />
        <activity android:name=".ui.RomijnActivity" />
        <activity android:name=".ui.LongThroatedFlumeActivity" />
        <activity android:name=".ui.CipolettiActivity" />
        <activity android:name=".ui.AmbangTajamSegitigaActivity" />
        <activity android:name=".ui.AmbangLebarPengontrolTrapesiumActivity" />
        <activity android:name=".ui.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ParshallFlumeActivity" />
        <activity android:name=".ui.OrificeActivity" />
        <activity android:name=".ui.CheckKondisiActivity" />
        <activity android:name=".ui.ReportDetailActivity" />
        <activity android:name=".ui.RumusTabelDebitActivity" />
        <activity
            android:name=".ui.AnalisisActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.VariasiKetinggianAirActivity" />
        <activity android:name=".ui.AmbangLebarPengontrolSegiempatActivity" />
        <activity android:name=".ui.VariasiOutputActivity" />
        <activity
            android:name=".ui.FormDataActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.PengambilanDataActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.DetailBangunanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.TipeBangunanUkurActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.DataInformasiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>